
.example-card {
    max-width: 70%;
    border: .5px solid black;
    margin: .5rem auto;

}
.txt{
    margin: .5rem;
    font-size: 1rem;
}
.tyt{
    margin: .5rem;
    font-size: 1rem;
    text-align: center;
}
.tp{
    float: right;
    font-size: .9rem;
    margin: .5rem;
}
.back{
    background-color: rgb(239, 218, 203);
}