
<div class="head">
    <h2>OUR PRODUCT</h2><br>
</div>
<div class="one1">
    <div class="box">
        <div class="icn">
            <img src="http://localhost/img3.png" alt="icn">
        </div>
        <div class="txt">
        <h2>SEO</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Earum fuga omnis asperiores cumque facere eveniet numquam quis excepturi eaque magnam!</p>
        </div>
    </div>
    <div class="box">
        <div class="icn">
            <img src="http://localhost/img1.png" alt="icn">
        </div>
        <div class="txt">
            <h2>BRANDING</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Earum fuga omnis asperiores cumque facere eveniet numquam quis excepturi eaque magnam!</p>
    </div>
</div>
    <div class="box">
        <div class="icn">
            <img src="http://localhost/img2.png" alt="icn">
        </div>
        <div class="txt"><h2>LOGO</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Earum fuga omnis asperiores cumque facere eveniet numquam quis excepturi eaque magnam!</p>
    </div>
</div>