<div class="contents">
    <div class="box">
    <img src="http://localhost/twitter.png" alt="twt">
    <div class ="text">
    <h1>Twitter</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Neque, consectetur aliquam sint labore perspiciatis modi dolore vero tempore facere</p>
    </div>
    <div class="box">
    <img src="http://localhost/facebook.png" alt="twt">
    <div class="text">
        <h1>facebook</h1>
        <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium in perferendis quod quidem, voluptas expedita sed dolorum a eum nulla.</p>
    </div>
    
    <div class="box">
    <img src="http://localhost/google.png" alt="twt">
    <div class="text">
    <h2>Google Plus Marketing</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium in perferendis quod quidem, voluptas expedita sed dolorum a eum nulla.</p>
    </div>
    </div>
    </div>
    </div>
