.nv{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #43a3a5;
    padding: .5rem;
    font-weight: bold;
}
.nv>*{
    font-family:cursive;
    font-size: 2rem;
}
.crd{
    padding: 0rem 1rem;
}
#comp{
    text-decoration: none;
    color:  #c845ac;
    background-color: #43a3a5;
}